<div class="col-md-8 col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2 col-md-offset-2">
    
  <form id="createRout" name="createRout"  (submit)="submitForm($event)">
      <div class="form-group">
        <label for="id">Employee ID</label>
        <input type="number" class="form-control" id="id" value="">
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control"  id="name">
      </div>
      <div class="form-group">
          <label for="contact">Contact No:</label>
          <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="source">Source</label>
        <input type="text" class="form-control" id="source">
    </div>
    <div class="form-group">
      <label for="aseat">Available Seat</label>
      <input type="text" class="form-control" id="aseat">
  </div>
      <div class="form-group">
          <label for="contact">Destination</label>
          <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="rdetail">Rout Details</label>
        <input type="text" class="form-control" id="rdetail">
    </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>