<!-- Static navbar -->
<!-- Main component for a primary marketing message or call to action -->
<div class="row">
    <app-header></app-header>
</div> 
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
        <div class="row customBread">
            <mc-breadcrumbs></mc-breadcrumbs>
        </div>
        <div class="row">
            <app-navigation></app-navigation>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div> 

