<!-- <div *ngIf="isdashboard" class="detailTabs">
    <div class="col-lg-4 col-md-6 coloumSpace">
        <a routerLink="/dashboard">
        <div class="panelHeader" [ngClass]="{'selected': selectedCompoent === 'allpatients' }">
                <div class="row">
                    <div class="col-xs-9">TOTAL PATIENTS
                    </div>
                    <div class="col-xs-3 text-right">
                        <div class="huge">{{ (totalPasthma + totalPanaphylaxis) || ''}}</div>
                    </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 coloumSpace">
        <a routerLink="asthma">
        <div class="panelHeader" [ngClass]="{'selected': selectedCompoent === 'asthma' }">
                <div class="row">
                    <div class="col-xs-9">ASTHMA PATIENTS
                    </div>
                    <div class="col-xs-3 text-right">
                        <div class="huge">{{totalPasthma}}</div>
                    </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 coloumSpace">
        <a routerLink="anaphylaxis">
        <div class="panelHeader" [ngClass]="{'selected': selectedCompoent === 'anaphylaxis' }">
                <div class="row">
                    <div class="col-xs-9">ANAPHYLAXIS PATIENTS
                    </div>
                    <div class="col-xs-3 text-right">
                        <div class="huge">{{totalPanaphylaxis}}</div>
                    </div>
            </div>
        </div>
        </a>
    </div>
</div> -->
